.top_half {
  background-color: #04a784;
  height: 30vh;
}

.bottom_half {
  background-color: #111b21;
  height: 70vh;
}

.middle {
  position: fixed;
  height: 80vh;
  width: 60vw;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.options {
  padding: 45px 0px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 90%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  
}
