.contact-list{
 margin: 0px 10px;
 height: 100%;
 /* flex:1; */
 overflow-y: auto;
}
.contact{
    display: flex;
    align-items: center;
    /* border: 2px solid yellow; */
    padding: 5px 0px;
    margin: 5px auto;
    width: 100%;
}
.contact:hover{
    cursor: pointer;
    border-radius: 20px;
    background-color: rgb(31,44,51);
}

.chatting {
 background-color: rgb(31,44,51);
 border-radius: 20px;
}

.accept_reject{
    /* align-items: flex-end; */
    margin-left: auto;
    margin-right: 20px;
}
.contact-logo{
    margin: 0px 10px;
}
.contact-logo > img {
   height: 60px;
   width: 60px;
   object-fit: 'cover';
   border-radius: 50%;
  }

.contact-name{
    font-size: larger;
}

.contact_list_empty{
    margin :20px auto;
    font-size: larger;
    display: flex;
    justify-content: center;
}

.online-container{
    margin-left: auto;
    padding: 0px 20px;
    display: flex;
    align-items: center;
}

.online-icon{
    margin: 0px 10px;
    display: inline-block;
    background-color: rgb(0, 174, 0);
    height: 15px;
    width: 15px;
    border-radius: 50%;
}