.messagebox {
  height: 91%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.msg {
  display: flex;
  max-width: 50%;
}

.right {
  margin-left: auto;
}

.right > .logo {
  display: none;
}

.right > .msgdetails > .msg-username {
  display: none;
}

.left {
  margin-right: auto;
}

.logo {
  margin: 10px 0px 5px 10px;
  height: 40px;
}

.logo > img {
  height: 40px;
  border-radius: 50%;
}

.msgdetails {
  background-color: rgb(31, 44, 51);
  padding: 10px;
  border-radius: 10px;
  margin: 3px 10px;
}

.msg-username {
  font-size: larger;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: greenyellow;
}

.msg-content {
  margin: 7px 0px;
  font-size: medium;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
}

.timestamp {
  float: right;
  color: rgb(127, 145, 154);
}

@keyframes typingAnimation {
  0% {
    opacity: 0.6;
    transform: scale(1.1);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0.6;
    transform: scale(1.1);
  }
}
.typing {
  color: rgb(0, 183, 255);
  animation: typingAnimation 1s infinite;
}

.msg-image {
  height: 100%;
  width: 100%;
}

.msg-image > img {
  max-width:100%;
  max-height:100%;
  border-radius: 10px;
}

.right-msg {
  margin-left: auto;
}

.msg-message{
  font-size: larger;
  font-weight: bolder;
}